<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>

  <body>
    <header class="wrapper gap">
      <img src="./images/logo.svg" alt="" />
    </header>
    <main class="gap">
      <p class="title gap">Successful BACF Payment - [Company Name]</p>
      <p>Dear Admin,</p>
      <p>
        The BACF payment for [Company Name] has been successfully made. Here are
        the payment details:
      </p>
      <p>Payment Amount: <span class="bold"> [Amount]</span></p>
      <p>
        Transaction Reference: <span class="bold"> [Reference Number]</span>
      </p>

      <br />
      <p>Thank you,</p>
      <p>DataCoupon Team</p>
    </main>
  </body>
</html>
