<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>

  <body>
    <header class="wrapper gap">
      <img src="./images/logo.svg" alt="" />
    </header>
    <main class="gap">
      <p class="title gap">Update Required for Final Approval</p>
      <p>Dear [Buyer's Name],</p>
      <p>
        We've reviewed the supplementary information/documentation you provided,
        and there are some updates required before we can proceed with final
        approval.
      </p>
      <p>
        Please log in to the platform to view the comments and make the
        necessary edits. Once done, kindly resubmit the updated information for
        our review.
      </p>
      <p class="gap">Thank you for your cooperation.</p>

      <br />
      <p>Best regards,</p>
      <p>DataCoupon Team</p>
    </main>
  </body>
</html>
