<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>

  <body>
    <header class="wrapper gap">
      <img src="./images/logo.svg" alt="" />
    </header>
    <main class="gap">
      <p class="title gap">
        Final Approval Granted - Download Your Certificate
      </p>
      <p>Dear [Buyer's Name],</p>
      <p>
        We're delighted to inform you that your due diligence process has been
        successfully completed, and your submission has been approved.
      </p>
      <p>
        You can now download your GACN Certified Due Diligence Certificate from
        the platform. Simply log in to your account and click on the download
        button in the Finalize stage,
      </p>
      <p class="gap">
        Congratulations on reaching this milestone! If you have any questions or
        require further assistance, don't hesitate to contact us.
      </p>

      <br />
      <p>Best regards,</p>
      <p>DataCoupon Team</p>
    </main>
  </body>
</html>
