<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>

  <body>
    <header class="wrapper gap">
      <img src="./images/logo.svg" alt="" />
    </header>
    <main class="gap">
      <p class="title gap">Your GACN Certified Due Diligence Certificate</p>
      <p>Dear [Buyer's Name],</p>
      <p>
        We are pleased to inform you that your GACN Certified Due Diligence
        Certificate is now available for download.
      </p>
      <p>
        Please find the attached certificate with this email. This certificate
        confirms the successful completion and approval of your due diligence
        process with Gas Aggregation Company of Nigeria (GACN).
      </p>
      <p>
        Should you have any questions or require further assistance, feel free
        to reach out to our team. We're here to help.
      </p>
      <p class="gap">
        Thank you for choosing GACN for your procurement needs. We look forward
        to continued collaboration in the future.
      </p>

      <br />
      <p>Best regards,</p>
      <p>DataCoupon Team</p>
    </main>
  </body>
</html>
