<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>

  <body>
    <header class="wrapper gap">
      <img src="./images/logo.svg" alt="" />
    </header>
    <main class="gap">
      <p class="title gap">
        Questionnaire Request Submission - <%= data.company_name %>
      </p>
      <p>Dear Admin,</p>
      <p>A new questionnaire has been submitted by <%= data.company_name %>.</p>

      <p class="gap">Please review it at your earliest convenience.</p>

      <br />
      <p>Thank you,</p>
      <p>DataCoupon Team</p>
    </main>
  </body>
</html>
