<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>

  <body>
    <header class="wrapper gap">
      <img src="./images/logo.svg" alt="" />
    </header>
    <main class="gap">
      <p class="title gap">Password Successfully Changed</p>
      <p>Hi [User Name],</p>
      <p>Your password has been successfully updated.</p>
      <p class="gap">
        If you did not make this change, please contact us immediately.
      </p>

      <br />
      <p>Best regards,</p>
      <p>DataCoupon Team</p>
    </main>
  </body>
</html>
