<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>

  <body>
    <header class="wrapper gap">
      <img src="./images/logo.svg" alt="" />
    </header>
    <main class="gap">
      <p class="title gap">Password Reset Request Confirmation</p>
      <p>Dear <%= data.fullName %>,</p>
      <p>You've requested a password reset for your account.</p>
      <p>Click the link below to reset your password:</p>
      <p class="gap">
        <a href="" class="primary underline"><%= data.link %>,</a>
      </p>
      <p class="gap">
        If you didn't make this request, please ignore this message.
      </p>
      <br />
      <p>Best regards,</p>
      <p>DataCoupon Team</p>
    </main>
  </body>
</html>
