<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>

  <body>
    <header class="wrapper gap">
      <img src="./images/logo.svg" alt="" />
    </header>
    <main class="gap">
      <p>
        You requested a passcode to log in to Swift Mart. Here's your passcode:
      </p>
      <span
        >Passcode:
        <h1><%= data.passcode %></h1>
      </span>

      <p>
        Please enter this passcode in the registration process to verify your
        email address.
      </p>

      <p>
        If you have any issues, feel free to contact our support team at
        [Support Email].
      </p>

      <br />
      <p>Best regards,</p>
      <p>Swif Mart Team</p>
    </main>
  </body>
</html>
