<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Successfully Changed</title>
  </head>
  <body>
    <p>Dear, <%= user.fullName %>,</p>
    <p>Welcome to DataCoupon! We're thrilled to have you join us.</p>
    <p>
      At DataCoupon, we're dedicated to making our solutions more accessible and
      efficient. Whether you're a consumer or a supplier, our platform offers a
      seamless experience tailored to your needs.
    </p>
    <p><a href="<%= resetLink %>">Reset Password</a></p>
    <p>
      Explore our services and feel free to reach out if you have any questions.
    </p>
    <br />
    <p>Best Regards,</p>
    <p>DataCoupon Team</p>
  </body>
</html>
