<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>

  <body>
    <header class="wrapper gap">
      <img src="./images/logo.svg" alt="" />
    </header>
    <main class="gap">
      <p class="title gap">Welcome to DataCoupon!</p>
      <p>Dear <%= data.fullName %>,</p>
      <p>Welcome toDataCoupon! We're thrilled to have you join us.</p>
      <p>
        At GACN, we're dedicated to making gas solutions more accessible and
        efficient. Whether you're a consumer or a supplier, our platform offers
        a seamless experience tailored to your needs.
      </p>
      <p class="gap">
        Explore our services and feel free to reach out if you have any
        questions.
      </p>

      <br />
      <p>Best regards,</p>
      <p>DataCoupon Team</p>
    </main>
  </body>
</html>
